# DEFAULT_USER=" Nic"

# 常用 alias
# alias rs='rails s'
# alias ll='ls -l'
# alias rc='rails c'
# alias bi='bundle install'
# alias gs='git status'
# alias rcop='git status --porcelain | cut -c4- | grep '.rb' | xargs rubocop'
# alias rlog='tail -f log/development.log'
