DEFAULT_USER=" Nic"

# 常用 alias
alias rs='rails s'
alias n='cd ~/Dropbox/bito_projects/froslass/froslass'
alias ll='ls -l'
alias rc='rails c'
alias bi='bundle install'
alias gs='git status'
alias rcop='git status --porcelain | cut -c4- | grep '.rb' | xargs rubocop'
alias rlog='tail -f log/development.log'

export NVM_DIR="/Users/Nic/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm

export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
export PATH="/usr/local/mysql/bin:$PATH"
